<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/aCss")
    <link href="~/Content/fontawesome.min.css" rel="stylesheet" />
    <link href="~/Content/solid.min.css" rel="stylesheet" />
    <link href="~/Content/svg-with-js.min.css" rel="stylesheet" />
    <link href="~/Content/regular.min.css" rel="stylesheet" />
    <link href="~/Content/v4-shims.min.css" rel="stylesheet" />
    @Scripts.Render("~/Content/pluginScripts")
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="~/Content/assets/css/paper-dashboard.min.css" rel="stylesheet" />
    <link href="~/Content/assets/demo/demo.css" rel="stylesheet" />

</head>
<body>




    <div class="wrapper ">
        <div class="sidebar" data-color="white" data-active-color="danger">
            <div class="logo">
                <a href="https://www.creative-tim.com" class="simple-text logo-mini">
                    <div class="logo-image-small">
                      
                    </div>
                    <!-- <p>CT</p> -->
                </a>
                <a href="https://www.creative-tim.com" class="simple-text logo-normal">
                  Digital Attendance
                    <!-- <div class="logo-image-big">
                      <img src="../assets/img/logo-big.png">
                    </div> -->
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li class="active sLayout" id="home">
                        <a href="/Home/Index">
                            <i class="nc-icon nc-bank"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>

                  
                
                    <li class="sLayout" id="standard">
                        <a href="/Standard/Index">
                            <i class="nc-book-bookmark"></i>
                            <p>Classes</p>
                            </a></li></ul>
            </div>
        </div>
        <div class="main-panel">
           <a href="/User/LogOut" style="margin-left:1000px;background-color:blueviolet;text-decoration:none;padding:4px;border-radius:25px;">Log-out</a>
         
            
                @RenderBody();
          


        </div>
    </div>
    <script src="~/Content/assets/js/core/jquery.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/js/core/popper.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/js/core/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <!--  Google Maps Plugin    -->
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
    <!-- Chartist JS -->
    <script src="~/Content/assets/js/plugins/chartjs.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="~/Content/assets/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->

    <script src="~/Content/assets/js/paper-dashboard.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
    <script>

    </script>
</body>

</html>
