@model MyAttendance.Models.Components.StudentMain
<h4 style="font-family:Verdana;margin-left:300px;">
    
    Student Management Class-  @Model.Class
</h4>
<p>
    @Html.ActionLink("Insert Student on Class"+Model.Class, "Create",new { Id = Model.ClassId})
</p>
<table class="table">
    <tr>
        <th>
            Roll
        </th>
        <th>
            Name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.students) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Roll)
        </td>
        <th>
            @Html.DisplayFor(modelItem=>item.Name)
        </th>
        <td>
            @Html.ActionLink(" ", "Edit", new { id=item.Id },new { @class= "fa fa-edit" }) |

            @Html.ActionLink(" ", "Delete", new { id=item.Id },new { @class= "fas fa-trash-alt" })
        </td>
    </tr>
}

</table>
<script>
    $(document).ready(function () {
        $('.sLayout').removeClass('active');
        $('#student').addClass('active');
    });
</script>
