@model MyAttendance.Models.Attendance.Date


<h6>@TempData["Error"]</h6>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
 
<div class="form-horizontal">
    <h4 style="font-family:Candara">Registration Date - [@DateTime.Now.ToShortDateString()]</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <h4>Today is:</h4>
    <div class="form-group">

        <div class="col-md-10">
            <label>Holiday</label>
            @Html.RadioButtonFor(model=>model.isHolidayFlag,1)
            <label>Working Day</label>
            @Html.RadioButtonFor(model => model.isHolidayFlag,2)
            @Html.ValidationMessageFor(model => model.isHolidayFlag, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Submit" class="btn btn-danger" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
